@using Amendment.Model.Enums
@model Amendment.Model.ViewModel.AmendmentBody.AmendmentBodyEditViewModel

@{
    var enumStatuses = EnumHelper<AmendmentBodyStatus>.GetValues(AmendmentBodyStatus.New).ToList();
    List<SelectListItem> statusList = enumStatuses.Select(s => new SelectListItem() { Text = EnumHelper<AmendmentBodyStatus>.GetDisplayValue(s), Value = ((int)s).ToString() }).ToList();
}

<h2>@ViewBag.Title</h2>

@if (ViewData.ModelState != null && ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.ValidationSummary()
    </div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.AmendId)
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(f => f.AmendStatus)
                        @Html.DropDownListFor(f => f.AmendStatus, statusList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.LanguageId)
                        @Html.DropDownListFor(f => f.LanguageId, Model.Languages.Select(l => new SelectListItem() { Text = l.LanguageName, Value = l.Id.ToString() }).ToList(), "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.AmendBody)
                        @Html.TextAreaFor(f => f.AmendBody, new { @class = "form-control markdown-editor", rows = "10", data_bind = "textInput: amendBody" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-info pull-right" id="insertPage">Insert Slide</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#primaryLang" aria-controls="primaryLang" role="tab" data-toggle="tab">
                            <!-- ko if: amendments().length > 0 -->
                            <!-- ko with: amendments()[0].amendmentBodies()[arrayFirstIndexOf(amendments()[0].amendmentBodies(), function(item){return item.languageId() === amendments()[0].primaryLanguageId();})] -->
                            <div data-bind="text: language().languageName"></div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </a>
                    </li>
                    <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="primaryLang">
                        <!-- ko if: amendments().length > 0 -->
                        <p class="form-control-static" data-bind="text: amendments()[0].amendTitle"></p>
                        <!-- ko with: amendments()[0].amendmentBodies()[arrayFirstIndexOf(amendments()[0].amendmentBodies(), function(item){return item.languageId() === amendments()[0].primaryLanguageId();})] -->
                        <div data-bind="template: {name: 'multi-amend-body-template', data: {amendBodyPages : amendBodyPages, page : $root.page, showDeafSigner: ko.observable('0'), showDeafSignerBox: ko.observable('0') }}"></div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="preview">
                        <div class="text-preview">
                            <!-- ko if: amendments().length > 0 -->
                            <p class="form-control-static" data-bind="text: amendments()[0].amendTitle"></p>
                            <!-- /ko -->
                            <div data-bind="template: {name: 'multi-amend-body-template', data: {amendBodyPages: amendBodyPages().amendBodyPages, page: page, showDeafSigner: ShowDeafSigner, showDeafSignerBox: ShowDeafSignerBox}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}