@model Amendment.Model.ViewModel.ScreenView.ScreenViewViewModel

@{
    ViewBag.Title = Model.Language.LanguageName;
    Layout = "_Layout";
}



<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div id="fullscreen">
            <div id="viewModel">
                @*<img src="https://via.placeholder.com/1920x1080" class="img-responsive"/>*@
                <!-- ko if: isLive() -->
                <div data-bind="html: amendmentBody"></div> 
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button id="fullscreen-button" class="btn btn-primary">Enter Fullscreen</button>
    </div>
</div>


@section Scripts
{
    <script>
        var initialData = @Json.Serialize(Model);
        @*var editUrl = '@Url.Action("Edit")';
        var deleteUrl = '@Url.Action("Delete")';
        var goLiveUrl = '@Url.Action("GoLive", "ScreenControl")';
        var screenControlUrl = '@Url.Action("Index", "ScreenControl")';*@
    </script>

    <environment include="Development">
        <script src="~/js/screenView.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/screenView.min.js" asp-append-version="true"></script>
    </environment>
}