@model Amendment.Model.ViewModel.User.UserCreateViewModel

@{
    ViewBag.Title = "Create User";
    Layout = "_Layout";
}

<h2>Create User</h2>

@if (ViewData.ModelState != null && ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.ValidationSummary()
    </div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(f => f.Username)
                @Html.TextBoxFor(f => f.Username, new { @class = "form-control", placeholder = "Enter Username" })
                <small class="form-text text-muted">Username for the user</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Email)
                @Html.TextBoxFor(f => f.Email, new { @class = "form-control", placeholder = "Enter Email" })
                <small class="form-text text-muted">Email address for the user</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Name)
                @Html.TextBoxFor(f => f.Name, new { @class = "form-control", placeholder = "Enter Name" })
                <small class="form-text text-muted">Name for the user</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Password)
                @Html.TextBoxFor(f => f.Password, new { @class = "form-control", placeholder = "Enter Password" })
                <small class="form-text text-muted">Password for the user</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.ConfirmPassword)
                @Html.TextBoxFor(f => f.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Password" })
            </div>
        </div>
        <div class="col-md-6">
            <h3>Roles</h3>
            @for (var i = 0; i < Model.Roles.Count(); i++)
            {
                var role = Model.Roles[i];

                <div class="checkbox">
                    <label>
                        @Html.HiddenFor(model => model.Roles[i].Id)
                        @Html.CheckBoxFor(model => model.Roles[i].IsSelected)
                        @Html.LabelFor(model => model.Roles[i].IsSelected, role.Name)
                    </label>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}