@using Amendment.Model.ViewModel.User
@model UserListViewModel

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<h2>Users</h2>

@Html.ActionLink("Create", "Create", "User", null, new { @class = "btn btn-success pull-right" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.Name</td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>