@page "/Admin/User/Create"
@page "/Admin/User/Edit/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Amendment.Client.Repository
@using Amendment.Shared.Requests
@using Amendment.Shared.Responses
@attribute [Authorize(Roles = "System Administrator")]
@inject IUserRepository UserRepository
@inject IRoleRepository RoleRepository
@inject NavigationManager NavigationManager

<CustomPageTitle>@title</CustomPageTitle>

<h3>@title</h3>
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Validations @ref="@_fluentValidations" Mode="ValidationMode.Manual" Model="@model" HandlerType="typeof(FluentValidationHandler)">
            <Validation>
                <Field>
                    <FieldLabel For="username">Username</FieldLabel>
                    <TextEdit id="username" @bind-Text="model.Username" Placeholder="Enter Username">
                        <Feedback>
                            <ValidationError/>
                            <FieldHelp>Username for the user</FieldHelp>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel For="email">Email</FieldLabel>
                    <TextEdit id="email" @bind-Text="model.Email" Placeholder="Enter Email">
                        <Feedback>
                            <ValidationError/>
                            <FieldHelp>Email address for the user</FieldHelp>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel For="name">Name</FieldLabel>
                    <TextEdit id="name" @bind-Text="model.Name" Placeholder="Enter Name">
                        <Feedback>
                            <ValidationError/>
                            <FieldHelp>Name for the user</FieldHelp>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel For="password">Password</FieldLabel>
                    <TextEdit id="password" @bind-Text="model.Password" Role="TextRole.Password" Placeholder="Enter Password">
                        <Feedback>
                            <ValidationError/>
                            <FieldHelp>Password for the user</FieldHelp>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel For="confirmPassword">Confirm Password</FieldLabel>
                    <TextEdit id="confirmPassword" @bind-Text="model.ConfirmPassword" Role="TextRole.Password" Placeholder="Enter Password">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Field>
                <Check TValue="bool" @bind-Checked="model.RequirePasswordChange">Require Password Change</Check>
                <FieldHelp>If checked, the user will be required to change their password on next login</FieldHelp>
            </Field>
        </Validations>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <h3>Roles</h3>
        <Repeater Items="@_roleList">
            <Check TValue="bool" Checked="model.Roles.Contains(context.Id)" CheckedChanged="(value) => OnChanged(value, context.Id)">@context.Name</Check>
        </Repeater>
    </Column>
</Row>

<Button Color="Color.Primary" Clicked="@OnSavePerson">Save</Button>

@code {
    [Parameter]
    public int? Id { get; set; }

    Validations _fluentValidations = null!;
    string title = "";
    UserRequest model = new();
    IEnumerable<RoleResponse> _roleList = Enumerable.Empty<RoleResponse>();

    protected override async Task OnInitializedAsync()
    {
        title = Id == null ? "Create User" : "Edit User";
        _roleList = await RoleRepository.GetAsync();
        var userResponse = Id == null ? new UserResponse() { RequirePasswordChange = true } : await UserRepository.GetAsync(Id.Value);
        model = userResponse.ToRequest();
        model.IsCreate = Id == null;
        StateHasChanged();
    }

    protected async Task OnSavePerson()
    {
        if ( await _fluentValidations.ValidateAll() )
        {
            if (Id == null)
                await UserRepository.PostAsync( model);
            else
                await UserRepository.PutAsync(Id ?? 0, model);
            NavigationManager.NavigateTo("/Admin/User");
        }
        StateHasChanged();
    }

    private void OnChanged(bool value, int roleId)
    {
        if (model.Roles.Contains(roleId) && value)
            return;

        if (model.Roles.Contains(roleId) && !value)
        {
            var tempList = model.Roles.ToList();
            tempList.Remove(roleId);
            model.Roles = tempList.ToArray();
        }

        if (!model.Roles.Contains(roleId) && value)
        {
            var tempList = model.Roles.ToList();
            tempList.Add(roleId);
            model.Roles = tempList.ToArray();
        }
    }
}
