@using Amendment.Shared.Responses
@using Amendment.Shared.Requests
@using Amendment.Client.Repository
@using Amendment.Shared
@inject IAmendmentRepository AmendmentRepository
@inject ILanguageRepository LanguageRepository
@inject INotificationService NotificationService
<TableRow>
    <TableRowCell>
        @Model.Title
        <div style="float: right!important">
            @if (Model.IsLive)
            {
                <Badge Color="Color.Danger">LIVE</Badge>
            }
            @if (Model.IsArchived)
            {
                <Badge Color="Color.Secondary">ARCHIVED</Badge>
            }
            @if (Model.ParentAmendmentId.HasValue)
            {
                <Badge Color="Color.Info">CLONE</Badge>
            }
        </div>
    </TableRowCell>
    <TableRowCell>@Model.Author</TableRowCell>
    <TableRowCell>@Model.Motion</TableRowCell>
    <TableRowCell>
        <Repeater Items="_languages">
            <AmendmentBodyBadge Amendment="@Model" Language="@context"></AmendmentBodyBadge>
            <span></span>
        </Repeater>
    </TableRowCell>
    <TableRowCell TextAlignment="TextAlignment.Center">
        <AuthorizeView Roles="@RoleGroups.AdminScreenController">
            <Authorized>
                @if (Model.IsLive)
                {
                    <Button Color="Color.Success" Type="ButtonType.Link" To=@("/ScreenControl")>Control Screens</Button>
                }
                @if ((LiveAmendmentId ?? 0) == 0)
                {
                    <Button Color="Color.Warning" Clicked="GoLive">Go Live</Button>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="@RoleGroups.AdminAmendEditor">
            <Authorized>
                <span></span>

                <span></span>
                @if (Model.IsLive)
                {
                    <Dropdown>
                        <Button Color="Color.Primary" Type="ButtonType.Link" To=@($"/Amendment/Edit/{Model.Id}")>Edit</Button>
                        <DropdownToggle Color="Color.Primary" Split />
                        <DropdownMenu>
                            @if (!Model.IsApproved && !Model.IsArchived)
                            {
                                <DropdownItem Color="Color.Success" Clicked="() => _approveModalRef!.Show()">
                                    <Icon Name="IconName.Check" />
                                    Approve & Clean Up
                                </DropdownItem>
                                <DropdownDivider/>
                            }
                            <DropdownItem Color="Color.Info" Clicked="() => _cloneModalRef!.Show()">
                                <Icon Name="IconName.Copy"/>
                                Clone Amendment
                            </DropdownItem>
                            <DropdownDivider/>
                            <DropdownItem Color="Color.Info" Clicked="ExportAmendmentToExcel">Export to Excel</DropdownItem>
                            <DropdownItem Color="Color.Info" Clicked="ExportAmendmentToPdf">Export to PDF</DropdownItem>
                            <AuthorizeView Roles="@RoleGroups.Admin">
                                <Authorized Context="AdminContext">
                                    <DropdownDivider/>
                                    <DropdownItem Color="Color.Danger" Clicked="() => _deleteModalRef!.Show()">Delete</DropdownItem>
                                </Authorized>
                            </AuthorizeView>
                        </DropdownMenu>
                    </Dropdown>
                }
                else
                {
                    <Dropdown>
                        <Button Color="Color.Primary" Type="ButtonType.Link" To=@($"/Amendment/Edit/{Model.Id}")>Edit</Button>
                        <DropdownToggle Color="Color.Primary" Split />
                        <DropdownMenu>
                            @if (!Model.IsApproved && !Model.IsArchived)
                            {
                                <DropdownItem Color="Color.Success" Clicked="() => _approveModalRef!.Show()">
                                    <Icon Name="IconName.Check" />
                                    Approve & Clean Up
                                </DropdownItem>
                                <DropdownDivider/>
                            }
                            <DropdownItem Color="Color.Info" Clicked="() => _cloneModalRef!.Show()">
                                <Icon Name="IconName.Copy" />
                                Clone Amendment
                            </DropdownItem>
                            <DropdownDivider/>
                            @if (Model.IsArchived)
                            {
                                <DropdownItem Color="Color.Success" Clicked="() => _unarchiveModalRef!.Show()">Unarchive</DropdownItem>
                            } else
                            {
                                <DropdownItem Color="Color.Warning" Clicked="() => _archiveModalRef!.Show()">Archive</DropdownItem>
                            }
                            <DropdownDivider/>
                            <DropdownItem Color="Color.Info" Clicked="ExportAmendmentToExcel">Export to Excel</DropdownItem>
                            <DropdownItem Color="Color.Info" Clicked="ExportAmendmentToPdf">Export to PDF</DropdownItem>
                            <AuthorizeView Roles="@RoleGroups.Admin">
                                <Authorized Context="AdminContext">
                                    <DropdownDivider/>
                                    <DropdownItem Color="Color.Danger" Clicked="() => _deleteModalRef!.Show()">Delete</DropdownItem>
                                </Authorized>
                            </AuthorizeView>
                        </DropdownMenu>
                    </Dropdown>
                }
            </Authorized>
        </AuthorizeView>
    </TableRowCell>
</TableRow>

<Modal @ref="@_deleteModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Delete Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            Are you sure you want to delete this amendment?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _deleteModalRef!.Hide()">Close</Button>
            <Button Color="Color.Primary" Clicked="OnDeleteBtn">Delete</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="@_archiveModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Archive Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            Are you sure you want to archive this amendment?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _archiveModalRef!.Hide()">Close</Button>
            <Button Color="Color.Primary" Clicked="OnArchiveBtn">Archive</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="@_unarchiveModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Unarchive Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            Are you sure you want to unarchive this amendment?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _unarchiveModalRef!.Hide()">Close</Button>
            <Button Color="Color.Success" Clicked="OnUnarchiveBtn">Unarchive</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="@_approveModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Approve Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <p>Are you sure you want to approve this amendment?</p>
            <p><strong>This will:</strong></p>
            <ul>
                <li>Mark the amendment as approved</li>
                <li>Remove all strikethrough text (deleted content)</li>
                <li>Remove underline formatting but keep the text (inserted content)</li>
                <li>Clean up all language versions</li>
            </ul>
            <p class="text-warning"><strong>This action cannot be undone.</strong></p>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _approveModalRef!.Hide()">Cancel</Button>
            <Button Color="Color.Success" Clicked="OnApproveBtn">
                <Icon Name="IconName.Check" />
                Approve & Clean Up
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="@_cloneModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Clone Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="_cloneRequest" OnValidSubmit="OnCloneBtn">
                <Field>
                    <FieldLabel For="cloneTitle">Title</FieldLabel>
                    <TextEdit id="cloneTitle" @bind-Text="_cloneRequest.Title" Placeholder="@($"{Model.Title} (Clone)")">
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel For="cloneAuthor">Author</FieldLabel>
                    <TextEdit id="cloneAuthor" @bind-Text="_cloneRequest.Author" Placeholder="@Model.Author">
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel For="cloneMotion">Motion</FieldLabel>
                    <TextEdit id="cloneMotion" @bind-Text="_cloneRequest.Motion" Placeholder="@Model.Motion">
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel For="cloneSource">Source</FieldLabel>
                    <TextEdit id="cloneSource" @bind-Text="_cloneRequest.Source" Placeholder="@Model.Source">
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel For="cloneLegisId">Legislative ID</FieldLabel>
                    <TextEdit id="cloneLegisId" @bind-Text="_cloneRequest.LegisId" Placeholder="@Model.LegisId">
                    </TextEdit>
                </Field>
            </EditForm>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _cloneModalRef!.Hide()">Cancel</Button>
            <Button Color="Color.Info" Clicked="OnCloneBtn">
                <Icon Name="IconName.Copy" />
                Clone Amendment
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public AmendmentResponse Model { get; set; } = null!;

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public int? LiveAmendmentId { get; set; }

    IEnumerable<LanguageResponse> _languages = Enumerable.Empty<LanguageResponse>();

    private Modal? _deleteModalRef;
    private Modal? _archiveModalRef;
    private Modal? _unarchiveModalRef;
    private Modal? _approveModalRef;
    private Modal? _cloneModalRef;
    private CloneAmendmentRequest _cloneRequest = new();

    protected override async Task OnInitializedAsync()
    {
        _languages = await LanguageRepository.GetAsync();
    }

    private async Task OnDeleteBtn()
    {
        await AmendmentRepository.DeleteAsync(Model.Id);
        await _deleteModalRef!.Hide();
#pragma warning disable CS4014
        OnDelete.InvokeAsync();
#pragma warning restore CS4014
    }

    private async Task OnArchiveBtn()
    {
        var amendmentRequest = Model.ToRequest();
        // Set the amendment as archived
        amendmentRequest.IsArchived = true;
        await AmendmentRepository.PutAsync(Model.Id, amendmentRequest);
        await _archiveModalRef!.Hide();
#pragma warning disable CS4014
        OnDelete.InvokeAsync();
#pragma warning restore CS4014
    }

    private async Task OnUnarchiveBtn()
    {
        var amendmentRequest = Model.ToRequest();
        // Set the amendment as not archived
        amendmentRequest.IsArchived = false;
        await AmendmentRepository.PutAsync(Model.Id, amendmentRequest);
        await _unarchiveModalRef!.Hide();
#pragma warning disable CS4014
        OnDelete.InvokeAsync();
#pragma warning restore CS4014
    }

    private async Task GoLive()
    {
        var amendmentRequest = Model.ToRequest();
        amendmentRequest.IsLive = true;
        await AmendmentRepository.PutAsync(Model.Id, amendmentRequest);
    }

    private async Task ExportAmendmentToExcel()
    {
        await AmendmentRepository.ExportToExcelAsync(Model.Id);
    }

    private async Task ExportAmendmentToPdf()
    {
        await AmendmentRepository.ExportToPdfAsync(Model.Id);
    }

    private async Task OnApproveBtn()
    {
        var amendmentRequest = Model.ToRequest();
        // Set the amendment as approved
        amendmentRequest.IsApproved = true;

        try
        {
            await AmendmentRepository.PutAsync(Model.Id, amendmentRequest);
            await _approveModalRef!.Hide();
            await NotificationService.Success("Amendment approved and cleaned up successfully!", "Amendment Approved");
#pragma warning disable CS4014
            OnDelete.InvokeAsync(); // Refresh the list
#pragma warning restore CS4014
        }
        catch (Exception ex)
        {
            await NotificationService.Error($"Failed to approve amendment: {ex.Message}", "Approval Error");
        }
    }

    private async Task OnCloneBtn()
    {
        try
        {
            var clonedAmendment = await AmendmentRepository.CloneAsync(Model.Id, _cloneRequest);
            if (clonedAmendment != null)
            {
                await _cloneModalRef!.Hide();
                // Reset the clone request for next use
                _cloneRequest = new CloneAmendmentRequest();
#pragma warning disable CS4014
                OnDelete.InvokeAsync(); // Refresh the list
#pragma warning restore CS4014
            }
        }
        catch (Exception ex)
        {
            await NotificationService.Error($"Failed to clone amendment: {ex.Message}", "Clone Error");
        }
    }

}
