@using Amendment.Shared.Responses
@using Amendment.Client.Repository
@inject IAmendmentRepository AmendmentRepository
@inject ILanguageRepository LanguageRepository
<TableRow>
    <TableRowCell>
        @Model.Title
        @if (Model.IsLive)
        {
            <div style="float: right!important">
                <Badge Color="Color.Danger">LIVE</Badge>
            </div>
        }
    </TableRowCell>
    <TableRowCell>@Model.Author</TableRowCell>
    <TableRowCell>@Model.Motion</TableRowCell>
    <TableRowCell>
        <Repeater Items="_languages">
            <AmendmentBodyBadge Amendment="@Model" Language="@context"></AmendmentBodyBadge>
        </Repeater>
    </TableRowCell>
    <TableRowCell TextAlignment="TextAlignment.Center">

        @if (Model.IsLive)
        {
            <Button Color="Color.Success" Type="ButtonType.Link" To=@("/ScreenControl")>Control Screens</Button>
        }
        @if ((LiveAmendmentId ?? 0) == 0)
        {
            <Button Color="Color.Warning" Clicked="GoLive">Go Live</Button> 
        }
        <span></span>
        <Button Color="Color.Primary" Type="ButtonType.Link" To=@($"/Amendment/Edit/{Model.Id}")>Edit</Button>
        <span></span>
        @if (!Model.IsLive)
        {
            <Button Color="Color.Danger" Clicked="() => _modalRef!.Show()">Delete</Button>
        }
    </TableRowCell>
</TableRow>

<Modal @ref="@_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Delete Amendment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            Are you sure you want to delete this amendment?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="() => _modalRef!.Hide()">Close</Button>
            <Button Color="Color.Primary" Clicked="OnDeleteBtn">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public AmendmentResponse Model { get; set; } = null!;

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public int? LiveAmendmentId { get; set; }

    IEnumerable<LanguageResponse> _languages = Enumerable.Empty<LanguageResponse>();

    private Modal? _modalRef;

    protected override async Task OnInitializedAsync()
    {
        _languages = await LanguageRepository.GetAsync();
    }

    private async Task OnDeleteBtn()
    {
        await AmendmentRepository.DeleteAsync(Model.Id);
        await _modalRef!.Hide();
#pragma warning disable CS4014
        OnDelete.InvokeAsync();
#pragma warning restore CS4014
    }

    private async Task GoLive()
    {
        var amendmentRequest = Model.ToRequest();
        amendmentRequest.IsLive = true;
        await AmendmentRepository.PutAsync(Model.Id, amendmentRequest);
    }

}
