@using System.Security.Claims
@using Amendment.Service.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amendment.Web</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,600i,700,700i" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
        <link href="~/lib/simplemde/simplemde.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
        <link href="~/lib/simplemde/simplemde.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Amendment.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Amendments <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("English", "View", "Home", new { id = "English" })</li>
                            <li>@Html.ActionLink("Spanish", "View", "Home", new { id = "Spanish" })</li>
                            <li>@Html.ActionLink("French", "View", "Home", new { id = "French" })</li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Amendment" asp-action="Index">Amendments</a></li>
                    }
                    @if (User.IsInRole("System Administrator"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "Index", "User", new { Area = "Admin" })</li>
                                @*<li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>*@
                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div id="connection-error" class="alert alert-danger margin-top-small hidden" role="alert">
                <h3 style="margin: 0;">Connection to server lost <a href="javascript:location.reload();" class="alert-link">please refresh</a>.</h3>
            </div>
        </div>
    </div>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2018 - Amendment.Web</p>
    </footer>
</div>
    <script>
        var _usersRoles = @Json.Serialize(User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList());
        var _isAuthenticated = @(User.Identity.IsAuthenticated ? "true" : "false");
        var _clientNotifierMethods = @Json.Serialize(new ClientNotifierMethodsWrapper());
    </script>
    
    <script src="~/lib/ua-parser/ua-parser.min.js"></script>
    <script>
        window.UAparser = new UAParser();
        if (window.UAparser.getResult().browser.name === "IE") {
            window.location = "http://outdatedbrowser.com";
        }
    </script>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type='text/javascript' src='~/lib/knockout/knockout-3.4.2.js'></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/simplemde/simplemde.min.js"></script>
        <script src="~/lib/marked/marked.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type='text/javascript' src='~/lib/knockout/knockout-3.4.2.js'></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/simplemde/simplemde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"
                asp-fallback-src="~/lib/marked/marked.js"
                asp-fallback-test="window.marked"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
<script type="text/html" id="single-amend-body-template">
    <div style="" class="screen-page-text">
        <!-- ko if: scale -->
        <zoom-factor>
            <div class="deafSignerPusher"></div>
            <div class="deafSignerBox"></div>
            <div data-bind="html: amendBodyPagedHtml"></div>
        </zoom-factor>
        <!-- /ko -->
        <!-- ko if: !scale -->
        <div data-bind="html: amendBodyPagedHtml"></div>
        <!-- /ko -->

    </div>
    </script>

<script type="text/html" id="multi-amend-body-template">
    @*<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)" class="hidden"></pre>*@
    <!-- ko foreach: { data: amendBodyPages, as: 'html' } -->
    <div class="row">
        <div class="col-md-12 screen-page-height">
            <div data-bind="css: { activepage: $parent.page() == $index() }">
                <div data-bind="template: {name: 'single-amend-body-template', data: { amendBodyPagedHtml : html, scale: $parent.scale }, afterRender: $parent.scale ? myPostProcessingLogic : null}" class="screen-page screen-border"></div>        
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>

@RenderSection("Scripts", required: false)
</body>
</html>
