@model Amendment.Model.DataModel.Amendment

@{
    ViewBag.Title = "Screen Control";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div id="screenControl">
    <!-- ko if: isLive() -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Title</label>
                <p class="form-control-static" data-bind="text: amendment().amendTitle"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Author</label>
                <p class="form-control-static" data-bind="text: amendment().author"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Motion</label>
                <p class="form-control-static" data-bind="text: amendment().motion"></p>
            </div>
        </div>
    </div>
    <hr />
    <h3>Amendment Texts</h3>
    <div class="pull-right">
        <button type="button" class="btn btn-warning" data-bind="click: resetAllPages">Reset All</button>
        <button type="button" class="btn btn-info" data-bind="click: function(data, event) { changeAllPages('prev') }">All Prev</button>
        <button type="button" class="btn btn-info" data-bind="click: function(data, event) { changeAllPages('next') }">All Next</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div data-bind="foreach: bodies">
                <div class="row">
                    <div data-bind="foreach: $data">
                        <div class="col-md-4">

                            <h4>
                                <span data-bind="text: language().languageName"></span>
                                <span data-bind="click: function(data, event) { changePage('prev', data) }" class="glyphicon glyphicon-arrow-up"></span>
                                <span data-bind="click: function(data, event) { changePage('next', data) }" class="glyphicon glyphicon-arrow-down"></span>
                                <span data-bind="if: languageId() === primaryLanguageId()" class="label label-info pull-right" style="margin-left: 10px;">PRIMARY</span>
                                <span data-bind="if: isLive()" class="label label-danger pull-right">LIVE</span>
                            </h4>

                            <div class="small-screen-container well">
                                @*<img src="https://via.placeholder.com/1920x1080" class="img-responsive"/>*@
                                <div data-bind="template: {name: 'multi-amend-body-template', data: $data}"></div>
                            </div>

                            <div class="text-center margin-top-small">
                                <!-- ko if: isLive() -->
                                <button class="btn btn-danger" data-bind="click: toggleAmendmentBody">TAKE DOWN</button>
                                <!-- /ko -->
                                <!-- ko ifnot: isLive() -->
                                <button class="btn btn-success" data-bind="click: toggleAmendmentBody">GO LIVE</button>
                                <!-- /ko -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isLive() -->
    <h3>No amendments are currently live</h3>
    @Html.ActionLink("Go to Amendments", "Index", "Amendment", null, new { @class = "btn btn-primary" })
    <!-- /ko -->
</div>

@section Scripts
    {
    <script>
        var initialData = @Json.Serialize(Model);
        @*var editUrl = '@Url.Action("Edit")';
        var deleteUrl = '@Url.Action("Delete")';
        var goLiveUrl = '@Url.Action("GoLive", "ScreenControl")';
        var screenControlUrl = '@Url.Action("Index", "ScreenControl")';*@
    </script>

    <environment include="Development">
        <script src="~/js/screenControl.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/screenControl.min.js" asp-append-version="true"></script>
    </environment>
}