@model Amendment.Model.ViewModel.Amendment.AmendmentCreateViewModel

@{
    ViewBag.Title = "Create Amendment";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@if (ViewData.ModelState != null && ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.ValidationSummary()
    </div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(f => f.AmendTitle)
                @Html.TextBoxFor(f => f.AmendTitle, new { @class = "form-control", placeholder = "Amendment Title" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Author)
                @Html.TextBoxFor(f => f.Author, new { @class = "form-control", placeholder = "Author" })
                @*<small class="form-text text-muted">Email address for the user</small>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Motion)
                @Html.TextBoxFor(f => f.Motion, new { @class = "form-control", placeholder = "Motion" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Source)
                @Html.TextBoxFor(f => f.Source, new { @class = "form-control", placeholder = "Source" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.LegisId)
                @Html.TextBoxFor(f => f.LegisId, new { @class = "form-control", placeholder = "LegisId" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(f => f.PrimaryLanguageId)
                @Html.DropDownListFor(f => f.PrimaryLanguageId, Model.Languages.Select(l => new SelectListItem(){Text = l.LanguageName, Value = l.Id.ToString()}).ToList(), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.AmendBody)
                @Html.TextAreaFor(f => f.AmendBody, new { @class = "form-control", rows = "10" })
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}