@using System.Security.Claims
@model System.Collections.Generic.List<Amendment.Model.ViewModel.Amendment.AmendmentDetailsViewModel>

@{
    ViewBag.Title = "Amendments";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div id="amendmentList">
    <div class="row">
        <div class="col-md-4">
            <!-- ko if: liveAmendment() > -1 && (_usersRoles.indexOf('Screen Controller') > -1 || _usersRoles.indexOf('System Administrator') > -1) -->
            <button data-bind="click: clearScreens" type="button" class="btn btn-danger">Clear Screens</button>
            <!-- /ko -->
        </div>
        <div class="col-md-4">
            <div class="input-group" data-bind="css: {'input-group': search_field().length > 0}">
                <input type="text" name="name" value="" class="form-control" placeholder="Search for..." data-bind="textInput: search_field, event: { keyup: checkForEscapeKey }" />
                <span class="input-group-btn" data-bind="visible: search_field().length > 0">
                    <button class="btn btn-default" type="button" data-bind="click: clearSearch">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            @if (User.IsInRole("System Administrator") || User.IsInRole("Amendment Editor"))
            {
                @Html.ActionLink("Create Amendment", "Create", null, null, new { @class = "btn btn-success pull-right" })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Motion</th>
                        <th style="min-width: 200px"></th>
                        <th style="min-width: 215px"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: amendments">
                    <tr data-bind="visible: $parent.filteredAmendmentIds().indexOf(id()) > -1">
                        <td>
                            <span data-bind="text: amendTitle"></span>
                            <span data-bind="if: isLive()" class="label label-danger pull-right">LIVE</span>
                        </td>
                        <td data-bind="text: author"></td>
                        <td data-bind="text: motion"></td>
                        <td data-bind="foreach: {data: languageData, as: 'language'}">
                            <!-- ko if: arrayFirstIndexOf($parent.amendmentBodies(), function(item){return item.languageId() === language.id;}) === -1 -->
                            <!-- ko if: userIsInRole('System Administrator', 'Translator', 'Amendment Editor') -->
                            <a class="label label-default" data-bind="text: languageName, attr: { href: bodyRootUrl + '/' + $parent.id() + '/Body/Create/?languageId=' + id }"></a>
                            <!-- /ko -->
                            <!-- ko ifnot: userIsInRole('System Administrator', 'Translator', 'Amendment Editor') -->
                            <span class="label label-default" data-bind="text: languageName"></span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko ifnot: arrayFirstIndexOf($parent.amendmentBodies(), function(item){return item.languageId() === language.id;}) === -1 -->
                            <!-- ko with: $parent.amendmentBodies()[arrayFirstIndexOf($parent.amendmentBodies(), function(item){return item.languageId() === language.id;})] -->
                            <!-- ko if: userIsInRole('System Administrator', 'Translator', 'Amendment Editor') -->
                            <a class="label label-primary" data-bind="text: $parent.languageName, css: { 'label-success': amendStatus() == 3, 'label-danger': isLive },
                            attr: { href: bodyRootUrl + '/' + amendId() + '/Body/Edit/' + id() }"></a>
                            <!-- /ko -->
                            <!-- ko ifnot: userIsInRole('System Administrator', 'Translator', 'Amendment Editor') -->
                            <span class="label label-primary" data-bind="text: $parent.languageName, css: { 'label-success': amendStatus() == 3, 'label-danger': isLive }"></span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <td class="text-center">
                            <!-- ko if: userIsInRole('Screen Controller', 'System Administrator') -->
                            <!-- ko if: $root.liveAmendment() == -1 -->
                            <button type="button" data-bind="click: $parent.amendmentGoLive" class="btn btn-warning">Go Live</button>
                            <!-- /ko -->
                            <!-- ko if: $root.liveAmendment() == id() -->
                            <a data-bind="attr: { href: screenControlUrl }" class="btn btn-success">Control Screens</a>
                            <!-- /ko -->
                            <!-- /ko -->
                            @if (User.IsInRole("System Administrator") || User.IsInRole("Amendment Editor"))
                            {
                                <a data-bind="attr: { href: editUrl + '/' + id() }" class="btn btn-primary">Edit</a>
                                <a data-bind="attr: { href: deleteUrl + '/' + id() }" class="btn btn-danger">Delete</a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Key:</h3>
            <span class="label label-default">Not Created</span>
            <span class="label label-primary">Not Ready</span>
            <span class="label label-success">Is Ready</span>
            <span class="label label-danger">Is Live</span>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        var initialData = @Json.Serialize(Model);
        var languageData = @Json.Serialize(ViewBag.Languages);
        var editUrl = '@Url.Action("Edit")';
        var deleteUrl = '@Url.Action("Delete")';
        var bodyRootUrl = '@Url.Action("Index")';
        var screenControlUrl = '@Url.Action("Index", "ScreenControl")';
    </script>

    <environment include="Development">
        <script src="~/js/amendmentList.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/amendmentList.min.js" asp-append-version="true"></script>
    </environment>
}
